<section class="container">
    <div class="row">
        <div class="offset-lg-3"></div>
        <div class="col-lg-6">
            <h1>Welcome to the Angular group chat!</h1>
            <p>Please choose your nickname and copy to the input field below.</p>
            <p>All options:</p>
            <ul>
                <li>captainAmerica1945</li>
                <li>richyLionheart</li>
                <li>gargamel</li>
                <li>bob_from_bikini_bottom</li>
            </ul>
            <form>
                <div class="form-group">
                    <label for="nickname">Nickname</label>
                    <input type="text" #nickname class="form-control" id="nickname" placeholder="Enter your nickname">
                </div>
                <button type="submit" class="btn btn-primary" (click)="doLogin($event, nickname.value)">Enter</button>
            </form>
        </div>
        <div class="offset-lg-3"></div>
    </div>
</section>