<section class="container">
    <div class="row">
        <div class="offset-lg-2"></div>
        <div class="col-lg-8">
            <h1>Your superhero chat:</h1>
            <div class="chat">
                <div class="card">
                    <div class="card-body" *ngFor="let item of allMessages">
                        <p class="chat__name">{{ item.username }}</p>
                        <p class="chat__message">{{ item.message }}</p>
                        <p class="chat__time">{{ item.creation_time }}</p>
                    </div>
                </div>
            </div>
            <textarea class="chat__textarea" #message type="textarea" rows="4" cols="50" (keyup.enter)="saveMessage($event, message.value)"></textarea>
            <button class="btn btn-primary" (click)="saveMessage($event, message.value)">send</button>
            <button class="btn btn-danger float-right" (click)="doLogout($event)">Logout</button>
        </div>
        <div class="offset-lg-2"></div>
    </div>
</section>